@media (max-width: 576px) {
	#emailCollection {
		display: block;
	}
}

.imageWrapper {
	margin: 20px;

	& img {
		width: 100%;
		border-radius: 5%;
		-webkit-border-radius: 5%;
		-moz-border-radius: 5%;
		-ms-border-radius: 5%;
		-o-border-radius: 5%;
		cursor: pointer;
		box-shadow: 0 0 20px #000000, 0 0 80px #000000, 0 0 160px #000000;
	}
}

// form

#formWrapper {
	margin: 20px;
	display: flex !important;
	font-size: 1.5rem;
	justify-content: center !important;
	// add a inward effect on the form

	& input {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #000000;
		font-size: 1.5rem;
	}

	& button {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #000000;
		font-size: 1.5rem;
	}
}

// footer

.imageListWrapper {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000000;
	font-size: 1.5rem;

	& select {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #000000;
		font-size: 1.5rem;

		& option {
			border-radius: 1px;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			-ms-border-radius: 1px;
			-o-border-radius: 1px;
            // change the color of the option box
            &:hover {
                background-color: #000000;
                color: #ffffff;
            }
		}
	}

    & >img {
        width: 100%;
        border-radius: 3%;
        -webkit-border-radius: 3%;
        -moz-border-radius: 3%;
        -ms-border-radius: 3%;
        -o-border-radius: 3%;
        box-shadow: rgb(56, 54, 54) 1px 0px 5px 1px;
}
}
