@media (max-width: 576px) {
	#emailCollection {
		display: block;
	}
}

.imageWrapper {
	margin: 20px;

	& img {
		width: 100%;
		border-radius: 5%;
		-webkit-border-radius: 5%;
		-moz-border-radius: 5%;
		-ms-border-radius: 5%;
		-o-border-radius: 5%;
		box-shadow: 0 0 20px #000000, 0 0 80px #000000, 0 0 160px #000000;
	}
}

// form

#formWrapper {
	margin: 20px;
	display: flex;
	font-size: 1.5rem;
    justify-content: center;
	// add a inward effect on the form

	& input {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #000000;
		font-size: 1.5rem;
	}

	& button {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #000000;
		font-size: 1.5rem;

    
	}
}
